.notes_section {

	border-bottom: 1px solid;
	width: 300px;
	margin-bottom: 30px;
	padding: 0px 0px 20px 20px;
}

.container {
	padding: 20px;
}

.delete {
	float: right;
	vertical-align: top;
}

.title {
	display: inline-block;
	vertical-align: top;
}